__pycache__/
*.py[cod]
*$py.class

*.so

venv/
env/
ENV/
.venv/
.pipenv/
.poetry/

.ipynb_checkpoints

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

instance/
*.log

.env
.env.*

*.sqlite3
*.db

*.pid
*.tar
*.bak
__docker_build__/

.vscode/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/

*.iml
